:root {
  --main-font: "Roboto";
  --btn-font: "Montserrat";
}
html {
  width: 100%;
}
h1,
h2,
p {
  font-family: var(--main-font);
  color: #ffffff;
  text-align: center;
}

.hero {
  background-image: url("/styles/bg.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 158px 0px;
}

.hero h1,
.hero h2 {
  text-transform: uppercase;
  font-weight: 700 !important;
}
.hero h2 {
  font-size: 24px;
  line-height: 28px;
}
.hero h1 {
  font-size: 72px;
  line-height: 84px;
}
@media (max-width: 1200px) {
  .photos {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .hero h1 {
    font-size: 48px;
  }
  .photos {
    padding: 0 20px;
  }
}

.btn-start {
  display: block !important;
  width: fit-content;
  margin: auto 0;
  background-color: #ffffff !important;
  text-transform: uppercase;
  font-family: var(--btn-font);
  margin: 0 auto;
  padding: 18px 40px !important;
  border-radius: 50px !important;
}
.album {
  padding: 0 !important;
}
.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.photos img {
  padding: 9px;
}
/* .col img {
  height: 100%;
  width: auto;
} */
