:root {
  --main-font: "Roboto";
  --btn-font: "Montserrat";
  --header-color: #f65282;
}
html {
  width: 100%;
  overflow-x: hidden;
}
body {
  background-color: #1b1b1b !important;
}
h1,
h2,
h3,
p {
  font-family: var(--main-font);
  color: #ffffff;
  text-align: center;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1,
h2,
h3 {
  font-weight: 700 !important;
}

h3 {
  color: #f65282 !important;
}
p {
  font-size: 18px;
}
i {
  color: #ffffff;
  margin-right: 30px;
}
.hero {
  background-image: url("/styles/bg.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 158px 0px;
}

.hero h2 {
  font-size: 24px;
  line-height: 28px;
}
.hero h1 {
  font-size: 72px;
  line-height: 84px;
}
@media (max-width: 1200px) {
  .photos {
    justify-content: center;
  }
}
@media (max-width: 870px) {
  .about-hero-img {
    width: 100% !important;
  }
  .about-hero-img img {
    margin: 0 auto;
    display: block;
  }
  .about-hero-text {
    width: 100% !important;
  }
}
@media (max-width: 500px) {
  .hero h1 {
    font-size: 48px;
  }
  .photos {
    padding: 0 20px;
  }
  .camera {
    max-width: 285px !important;
  }
}

.btn-start {
  display: block !important;
  width: fit-content;
  margin: auto 0;
  background-color: #ffffff !important;
  text-transform: uppercase;
  font-family: var(--btn-font);
  margin: 0 auto;
  padding: 18px 40px !important;
  border-radius: 50px !important;
}
.album {
  padding: 0 !important;
}
.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.photos img {
  padding: 9px;
}
.about-hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.about-hero-img {
  padding: 0 !important;
  display: inline-block;
  width: 50%;
}
.about-hero-text {
  padding-left: 40px;
  width: 48%;
  display: inline-block;
}
.about-hero h1,
.about-hero h3,
.about-hero p {
  text-align: left;
}
.about-hero h1 {
  font-size: 64px;
  line-height: 75px;
}
.about-hero h3 {
  font-size: 18px;
  line-height: 21px;
}
.camera {
  background-color: #2d2727;
  padding: 20px;
  display: flex;
  width: fit-content;
  align-items: center;
}
.camera p {
  display: inline-block;
  font-size: 15px;
}
.contact-button {
  display: block;
  background-color: #ffffff;
  padding: 18px 30px;
  font-family: var(--btn-font);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #272142;
  border-radius: 50px;
}
.about-album {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.about-album img {
  max-height: 280px;
}
