body {
  font-family: "Roboto";
}
h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  color: #ffffff;
}
h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #f65282;
}
p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}
